CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/CMakeCache.txt
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/undistorted-line-recognition.dir/build.make
build/CMakeFiles/undistorted-line-recognition.dir/flags.make
build/CMakeFiles/undistorted-line-recognition.dir/link.txt
.stfolder/syncthing-folder-e1fb00.txt
